<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: 1860s-1920s Early Urban Design of Brooklyn</title>
		<meta name="description" content="New York City: 1860s-1920s Early Urban Design of Brooklyn" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>1860s-1920s: Early Urban Design of Brooklyn: The Effects of Prospect Park and Eastern and Ocean Parkways</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/prospect.jpg"><br>
						The 1868 plan for Prospect Park
					</div>
					<!-- <h4 id="sec1">Section header 1</h4> -->
					<p>
						Much of Brooklyn’s urban form can be attributed to plans created by Frederick Law Olmstead and Calvert Vaux, landscape architects most notable for the design of Central Park.  One of their first large-scale Brooklyn projects was the design of Prospect Park, for which the final design was chosen in 1865 after five years of proposals.  The design, which heavily influenced Prospect Park’s modern layout, called for the division of the park into meadow, wooded ravine, and lake regions, as well as the incorporation of a plaza, which would become Grand Army Plaza, a notable Brooklyn attraction. 
						<br><br>
 						One of the most prominent provisions in Olmstead and Vaux’s extensive plans for the urbanization of Brooklyn was the proposal for Eastern and Ocean Parkways.  These two major boulevards, which run between the landmarks of Grand Army Plaza and Evergreen Cemetery and the neighborhoods of Kensington and Brighton Beach, respectively, were major factors in directing development patterns in the borough.  Both parkways, which were under the jurisdiction of the Park Commission, were built between 1870 and 1876; Eastern Parkway was within Brooklyn’s city limits (at the time, Brooklyn was an independent city), while Ocean Parkway ran through then-rural areas.  While development was initially slow along both parkways, zoning ordinances, development incentives, and the layout of transit lines helped shape development along them and subsequently around Brooklyn. 
 						<br><br>  
 						Although Eastern Parkway was said to have destroyed the communities of Weeksville and Carrville, streetcar lines and development began to appear around it in the early 1900s.  Olmstead’s original plan for the parkway was to have a system of alleys and boulevards surrounding it; these plans were later scrapped because the Public Works Department did not wish to maintain them.  When the 1916 New York City Zoning Resolution was enacted, Eastern Parkway was zoned for dense residential development, in conjunction with eight business districts that crossed it, lined with streetcars and five subway stops.  In the 1920s, the area became home to large concentrations of Jewish Americans; since then, the zoning laws that allowed for six-story maximum buildings have been relaxed to allow for the development of twenty-story buildings, increasing density, and the demographics of the surrounding areas have shifted to predominantly African-American communities.
 						<br><br>
 						When Ocean Parkway was built, it tore through the center of the village of Parkfield and brought about a superimposed grid over Parkfield’s existing grid.  The existing neighborhood of Gravesend remains intact today because Ocean Parkway was constructed to the east of it.  Development along the parkway began in the area in the 1900s and matured in the 1920s, after which it slowed from the effects of the Great Depression.  A housing boom began in the 1950s, and in the early 1960s, an apartment construction boom began with opening of the Prospect Parkway and an update to New York City’s zoning ordinances in 1961 that included incentives for development.[1]
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>Macdonald, E. (2005). Suburban Vision to Urban Reality: The Evolution of Olmsted and Vaux’s Brooklyn Parkway Neighborhoods. <i>Journal of Planning History</i>. Retrieved from http://jph.sagepub.com/content/4/4/295.full.pdf html</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
