<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: Fresh Kills Park</title>
		<meta name="description" content="New York City: Fresh Kills Park" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>Fresh Kills Park</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/freshkillspark.jpg"><br>
						Fresh Kills Park
					</div>
					<!-- <h4 id="sec1">Section header 1</h4> -->
					<p>
						In 2001 the mayor of New York at the time, Rudy Giuliani demanded the closure of Fresh Kills Landfill. Fresh Kills Landfill accepted its last load of trash in March of 2011. However the city planners were not going to let this vast amount of land go unused. In March of 2006 a draft was written up for the new plans to come to Fresh Kills landfill. It was the Master Plan, but not for a new landfill but rather a park; Fresh Kills Park. The land that used to be filled with New Yorkers’ trash was in for a transformation.  
						<br><br>
						The once landfill, covered over 2,000 acres of land on the western edge of Staten Island. The large amount of land was very diverse in topography. The land consists of several wildlife habitats along with preserved wetlands. The land was scenically interesting. These were the seeking points in the Master Plan Draft of 2006. The overall goal of the Master Plan was to create something beautiful out of something that was once quite the opposite; creating “a green oasis for all New Yorkers”.
						<br><br>
						When people think of New York City they think of its biggest park, Central Park, the city’s first scenic landmark. However at approximately 2,315 acres, Fresh Kills’ land site was almost three times the size of Central Park which covers 843 acres. The opportunities for this new large scale park were endless and the developers had many ideas. This type of large scale project design required long term development plans and with a long lasting process input from the public and local residents were crucial to have. This was the intentions of the planners for the Master Plan. 
					</p>
					<div class="floatRight">
						<img src="img/freshkillspark2.jpg"><br>
						Fresh Kills Park, a schematic.
					</div>
					<h4 id="sec1">The People Voice</h4>
					<p>
						The planners reached out to the public through several public forums and eventually came up with seven key points that must be met, by request of the public.
						<ul>
							<li>The first was to <i>Activate the park</i>; the people wanted the opportunities for different kinds of active programs such as recreational and sports activates provided within the park, along with programs for education and culture. </li>
							<li>The second point from the public was to <i>Create opportunities large-scale recreational activities</i>. This entailed opportunities for long extensive pathways for walking and running, along with activities such as marathons and bicycling.</li>
							<li>The third <i>Create neighborhood park amenities</i>, which includes restoring existing amenities and creating new ones, as to create the local residential sense of community.</li>
							<li><i>Capitalize on Fresh Kills’ vast scale to improve regional natural resources</i> is the fourth point provides by the public. There was a big importance on restoring and preserving of natural resources and land by the public. </li>
							<li>The fifth is <i>Build new roads to mitigate the impact of the park on congestion</i>; there is major concern with creating a public park within an already traffic congested area. As concerned by the public there is a need to accommodate for that.</li>
							<li>The last two points include <i>Creating opportunities for waterfront recreation and education</i>. These main points advocated by the public and stakeholders were all part of the process when creating the Master Plan for the Fresh Kills Park.</li>
						</ul>
						When construction first started it began to develop in 20-acres segments, and these ideas from the public were implemented one by one. On the North Park there was a large scale meadows and areas that consisted of preserved wetlands and creeks. Also walking, running, and bicycle pathways were designed to meet the public’s request. Along with that there were areas for picnics and recreational areas where people could come to fish. The park today has many projects in the works. 
					</p>
					<div class="floatLeft">
						<img src="img/freshkillspark3.jpg"><br>
						Fresh Kills Park, progress in Fresh Kills
					</div>
					<h4 id="sec1">Progress in Fresh Kills</h4>
					<p>
						As seen through the New York City Department of Parks and Recreation page Fresh Kills Park is experiencing positive progress. In September of 2012 Schmul Park was opened, which premiered with handball and basketball courts along with colorful playgrounds for the neighborhood kids. Owl Hollow Fields was up and ready by March of 2013, and consisted of walking pathways, and four large soccer fields. The new Springville Greenway is actually still in construction but is set to be finished by this upcoming summer of 2015. The large component of this piece is the 3.2 mile pathway, used for walking, running, and bicycling. It will provide a much safer travel alternative than the surrounding busy streets of New York. 
						<br><br>
						Even though Fresh Kills has seen great accomplishments and people now praise the large scale park, when work first began there were those who had their doubts. This was because the thought of putting a “beautiful” park on top of a former landfill seemed to be contradictory. No one wanted to bring their kids and family to a park that smelled of old trash. Therefore the planners and Department of Sanitation put a lot of work into fixing that problem. A multilayered cover was put in place. After the base layer of soil a migration, plastic liner, and a drainage layer were all put in to capture any methane, conceal the odors and relieve water pressure. This process seemed to work and no one’s picnic was ruined from smells of old food that laid a few yards beneath them. 
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>PlaNYC (March 2006) Fresh Kills Park: Lifescape, Staten Island, New York Draft Master Plan. http://www.nyc.gov/html/dcp/pdf/fkl/dmp.pdf</li>
				<li>New York City Department of Parks and Recreation Official Website. Fresh kills Park. http://www.nycgovparks.org/park-features/freshkills-park/</li>
				<li>Jones, Jenny.  NYC Project Transforms Landfill into a Sprawling Recreational. (2011) Civil Engineering.</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
