<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: PlanNYC: One City Built to Last</title>
		<meta name="description" content="New York City: PlanNYC: One City Built to Last" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>PlanNYC: One City Built to Last</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/onecity.png" width="500px"><br>
						Quote from the One City Plan Guide
					</div>
					<!-- <h4 id="sec1">1950: The First Planning Movement</h4> -->
					<p>
						New Yorkers are facing the risks of rising sea levels, increased temperatures and heat waves, and increasing frequency of intense storms. The damage caused by Hurricane Sandy in 2012 provided tragic evidence of these risks. These risks are dangerous ones to take when the price is as large as a big city like New York. Places such as Red Hook felt the pain of Sandy even a year after the matter. In Red Hook 11,000 residents were forced to throw out all their furniture and valuable that were stored in their basements. The cause for action is upon planners all around the nation, and New York City planners are on the forefronts of designing, planning and preparing for these certain climate effects.
						<br><br>
						In effort to put less strain on the environment the City Planning Department introduced a new plan, <i>One City Built to Last: Transforming New York City’s Buildings for a Low-Carbon Future</i>. The purpose of the plan is stated in the title. The Planning Department was determined to cut down New York’s carbon emissions. With a 54 million metric tons of carbon dioxide emitted in 2010 by New York City alone, there was a need to begin thinking of how to green-up the city. To make New York a greener city the One City Built to last had a strategy. 
					</p>
					<div class="floatRight">
						<img src="img/ghg.jpg"><br>
						One City Built to Last GHG Reductions
					</div>
					<p>
						The five Guiding Strategies that outlined the plan included:
						<ol>
							<li>Leading by example, which pushed towards large innovations in technology in achieving carbon reductions within the City buildings;</li>
							<li>Empower New Yorkers to take action, creating programs and policies that encouraged and educated New Yorkers on to cut down their personal emissions; </li>
							<li>Hold new York City’s buildings to the highest energy performance, which entailed all sorts of policies and raising standards for their buildings; </li>
							<li>Ensure benefits are shared by New Yorkers in every neighborhood, providing efficient renewable energy to all types of communities throughout the city including affordable housing; and the last is the,</li>
							<li>Use of data, analysis, and stakeholder feedback to drive the approach, which looked into seeing the exact numbers in carbon emissions, and to see if progress is being made. </li>
						</ol>
					</p>
					<p>
						The main goal of the One City Built to Last was to reduce greenhouse gas emissions from the energy uses of the city’s buildings by 30%. So how did the Planning Department plan to achieve this goal? First they planned to improve efficiency in all city owned buildings that showed large amounts of energy use and would install 100 milliwatts of onsite renewable power. Second, implementing leading edge performance standards for new construction. And third, setting energy saving performance targets for buildings which included introduction of a few new regulations if adequate reductions were not made. The department of Planning was very determined in making sure this plan and its new regulations were making progress that in 2014 there was a follow up with an inventory of New York City’s greenhouse gas emissions which showed great progress being made. 
					</p>
					<div class="floatRight">
						<img src="img/central.jpg"><br>
						One City Built to Last, Central Park
					</div>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>Hurricane Sandy, one year after: Red Hook still Reeling and Recovering. (2013). Daily News. Retrieve http://www.nydailynews.com/new-york/hurricane-sandy/hurricane-sandy-year-red-hook-article-1.1494679</li>
				<li>PlaNYC (2013, November). One City Built to Last: Transforming New York City’s Buildings for a Low-Carbon Future. http://www.nyc.gov/html/builttolast/assets/downloads/pdf/OneCity.pdf</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
