<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: PlaNYC</title>
		<meta name="description" content="New York City: PlaNYC" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>PlaNYC</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<h4 id="sec1">General Planning</h4>
					<p>
						By entering the 21st century, New York has undergone a period of economic booming and population surge. There will be more than 9.1 million residents living in New York City by 2030. The planning theme of New York City is transferring: globe warming, a booming population and increasing economic inequality between people of different classes present new challenges in front of the government of New York City for the future.
						<br><br>
						Former Mayor Bloomberg outlined PlaNYC which was a sustainability and resiliency blueprint in order to improve and maintain New York City in April, 2007. It includes the following targets:
						<ul>
							<li>The cleanest air in 50 years.</li>
							<li>865,000 trees and five million square feet of reflective rooftop added to our urban landscape.</li>
							<li>Building codes upgraded to prepare for floods, wind, and extreme weather.</li>
							<li>19% reduction in carbon emissions since 2005, well ahead of our goal to reach 30% reduction by 2030.</li>
						</ul>

						As the plan has proposed, if New York City wants to continue its glory, the city needs to focus on improving the quality of residents’ lives and the increasing the efficiency of the infrastructure.
					</p>
					<div class="floatLeft">
						<img src="img/bikes.png"><br>
						CityRacks in NYC
					</div>
					<h4 id="sec1">Transportation</h4>
					<p>
						Inner Ring Residential Parking Study is a study which examines the relationship among cost of parking, residents’ choices about vehicles, and zoning requirements for parking conducted by New York government. New York City’s Zoning Resolution requires new residential buildings to provide accessory parking for a percentage of residential units. Each district specifies a minimum requirement, with the highest requirements in lower-density districts and the lowest requirements in higher-density districts.
						<br><br>
						This study emphasizes on a geography identified as “the Inner Ring,” which including neighborhoods in Upper Manhattan, the South Bronx, western Queens, and northern and central Brooklyn. Neighborhoods in the Inner Ring are dense and multi-functional communities close to subway line with lower rates of automobile ownership.
						<br><br>
						Based on the findings of this study, several principles are identified to guide parking policies and to inform future discussion in the decision-making level of New York government:
						<ul>
							<li>Recognize that accessory residential parking facilities in the Inner Ring often provide parking for residents throughout the neighborhood, and are often operated as public parking.</li>
							<li>Evaluate off-street parking requirements on a neighborhood-by-neighborhood basis.</li>
							<li>Update the parking requirements for affordable housing to reflect current programs and vehicle ownership rates.</li>
							<li>Continue to expand the availability of transportation options in the Inner Ring.</li>
						</ul>
						New York City also initialized a new public transportation system ─ “Citi Bike”. The plan was launched in May 2013. The bike share system doesn't use any taxpayer money but creates more income for the city. The durable Citi Bikes and docking stations provide convenient mobility for people in New York 365 days a year. Department of Transportation (DOT) provides free sidewalk bicycle parking racks throughout the city. CityRacks are the parking station of bicycles in New York invested by DOT. They are a convenience for all cyclists. Also, it prevents illegal parking and casual parking by limiting the availability of CityRacks parking only in the areas excluding mailboxes, parking meters, trees, and other sidewalk structures.
					</p>
					<div class="floatLeft">
						<img src="img/energy.png"><br>
						A Greener, Greater New York: Energy Cost and Consumption
					</div>
					<h4 id="sec1">Environmental Protection</h4>
					<p>
						According to Mayor de Blasio’s announcement in September, 2014, New York City is committing to reduce its greenhouse gas emissions by 80 percent over 2005 levels by 2050. This plan will impel tremendous number of financial savings and creating thousands of jobs for New Yorkers. It leads New York to a long term investment in renewable energy and a transition from fossil fuels to cleaner source of energy.
						<br><br>
						To realize the sustainability plan, New York City also enacts Greener, Greater Buildings Plan (GGBP), which increases energy efficiency in large existing buildings. GGBP consists of four regulatory pieces, which include:
						<ul>
							<li>Annual requirement to benchmark energy and water consumption.</li>
							<li>New York City’s local energy code.</li>
							<li>Conduct an energy audit and perform retro-commissioning once every 10 years.</li>
							<li>By 2025, the lighting in the non-residential space be upgraded to meet code and large commercial tenants be provided with sub-meters.</li>
						</ul>
						According to New York government, “these laws will reduce greenhouse gas emissions by almost five percent, have a net savings of $7 billion, and create roughly 17,800 construction-related jobs over 10 years.”
						<br><br>
						The New York City Department of Environmental Protection (DEP) has started to implement a citywide “Green Infrastructure Program” to manage storm water runoff that would discharge into the combined sewer system and contribute to combined sewer overflows. It will save millions of dollars and improve the quality of water for New Yorkers to realize the goal of protecting public health by supplying clean water, treating wastewater and reducing hazardous pollution.
					</p>
					<h4 id="sec1">Housing</h4>
					<p>
						Mayor Bill de Blasio announced a 10-year plan to build or preserve 200,000 affordable apartments across all five boroughs by releasing Housing New York: A Five-Borough, Ten-Year Plan in May, 2014. This plan will cost $41 billion and it will provide lower class all the way to the middle class with affordable housing in New York.
						<br><br>
						By the end of 2014, the City had financed the building of more than 17,300 affordable units, including 11,185 preserved units and 6,191 new construction units. These preserved and newly constructed units can accommodate about 42,000 New Yorkers. The data below are provided by New York government official.
						<table>
							<tr>
								<th>Income Band</th>
								<th>Percentage of AMI</th>
								<th>Monthly Rent Required to Prevent Rent-Burden</th>
								<th>Annual Income (4-person household)</th>
								<th>2014 Units</th>
							</tr>
							<tr>
								<td>Extremely Low Income</td>
								<td>0-30&#37;</td>
								<td>Up to $629</td>
								<td>&lt;$25,150</td>
								<td>823</td>
							</tr>
							<tr>
								<td>Very Low Income</td>
								<td>31-50&#37;</td>
								<td>$630-$1,049</td>
								<td>$25,151-$41,950</td>
								<td>1,603</td>
							</tr>
							<tr>
								<td>Low Income</td>
								<td>51-80&#37;</td>
								<td>$1,050-$1,678</td>
								<td>$41,951-$67,120</td>
								<td>12,411</td>
							</tr>
							<tr>
								<td>Moderate Income</td>
								<td>81-120&#37;</td>
								<td>$1,679-$2,517</td>
								<td>$67,121-$100,680</td>
								<td>877</td>
							</tr>
							<tr>
								<td>Middle Income</td>
								<td>121-165&#37;</td>
								<td>$2,158-$3,461</td>
								<td>$100,681-$138,435</td>
								<td>1,534</td>
							</tr>
						</table>
						<table>
							<tr>
								<th>Borough</th>
								<th>2014 Units</th>
							</tr>
							<tr>
								<td>Bronx</td>
								<td>5,518</td>
							</tr>
							<tr>
								<td>Brooklyn</td>
								<td>5,190</td>
							</tr>
							<tr>
								<td>Manhattan</td>
								<td>5,022</td>
							</tr>
							<tr>
								<td>Queens</td>
								<td>1,044</td>
							</tr>
							<tr>
								<td>Staten Island</td>
								<td>602</td>
							</tr>
						</table>
						<table>
							<tr>
								<th>Project Type</th>
								<th>2014 Units</th>
							</tr>
							<tr>
								<td>New Construction</td>
								<td>6,191</td>
							</tr>
							<tr>
								<td>Preservation</td>
								<td>11,185</td>
							</tr>
						</table>
						New York also has a mandatory inclusionary housing program. It requires a partition of the newly constructed houses developed for the lower-income people. To ensure the effectiveness of mandatory inclusionary housing program, the city government will provide multiple options for meeting the requirements.
						<br><br>
						Moreover, the city government also surveys all vacant sites in New York City. It compels affordable housing on underused sites. This action will tremendously increase the effectiveness of city land use. The deserted areas in New York will develop in multi-utility buildings and also works for the Greener, Greater Buildings Plan.
						<br><br>
						New York government not only help with the lower-income group with inclusionary housing program. In order to promote these community economic diversity, the government initializes a mixed income program which targets 20 percent of low-income households, 30 percent for moderate income households, and 50 percent for middle-income households. The economic stress of lower income group will relieve greatly due to the help of the program. Also, as the essential housing constructions in New York, the middle income housing will have a boost of the economy and real estate industry.
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>Housing New York: A Five-Borough, Ten-Year Plan. (2014). Retrieved from http://www.nyc.gov/html/housing/assets/downloads/pdf/housing_plan.pdf</li>
				<li>Inner Ring Residential Parking Study. (2013). Retrieved from http://www.nyc.gov/html/dcp/html/transportation/inner_ring.shtml</li>
				<li>GBEE - Greener, Greater Buildings Plan. (n.d.). Retrieved from http://www.nyc.gov/html/gbee/html/plan/plan.shtml</li>
				<li>Mayor de Blasio Announces More Than 17,300 Units of Affordable Housing Financed in 2014. (2015, January 15). Retrieved from http://www1.nyc.gov/office-of-the-mayor/news/037-15/mayor-de-blasio-more-17-300-units-affordable-housing-financed-2014-enough-to</li>
				<li>Mayor de Blasio Unveils 'Housing New York': Five-Borough, 10-Year Housing Plan. (2014, May 5). Retrieved from http://www1.nyc.gov/office-of-the-mayor/news/199-14/mayor-de-blasio-housing-new-york--five-borough-10-year-housing-plan-protect-and#/0</li>
				<li>New York City Environment Protection. “Green Infrastructure Plan and Annual Reports.” Retrieved from http://www.nyc.gov/html/dep/html/stormwater/nyc_green_infrastructure_plan.shtml</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
