.floatLeft { 
    float: left; 
    margin-right: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.floatRight { 
    float: right; 
    margin-left: 14px; 
    margin-bottom: 20px;
    text-align: center;
}

.floatLeft img {
	max-width: 100%;
}

.floatRight img {
	max-width: 100%;
}

table {
    border-collapse: collapse;
    margin: 10px;
}

table td, table th {
    border: 1px solid black;
    padding: 2px;
}

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
    border-right: 0;
}

h4 {
    margin-top: 26px;
}

.sources {
    margin-top: 60px;
}

.creditfooter {
    margin-top: 20px;
}