<html>
<head>
	{% if title %}
	<title>{{title}} - microblog</title>
	{% else %}
	<title>microblog</title>
	{% endif %}
	<script src="js/spf.js"></script>
	<script>
		spf.init();
	</script>
</head>
<body>
	<div>Microblog: <a class="spf-link" href="/now/index">Home</a> 
	{% if user.is_authenticated() %} 
	<a class="spf-link" href="/now/upload">Upload Video</a> <a class="spf-link" href="/now/logout">Logout</a>
	{% else %}
	<a href="/now/loginFB">Login through Facebook</a>
	{% endif %}
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }} </li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block content %}{% endblock %}
</body>
</html>