<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: Headquarters of the United Nations</title>
		<meta name="description" content="New York City: Headquarters of the United Nations" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>Headquarters of the United Nations</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/un.png"><br>
						United Nations Headquarters in New York City, view from Roosevelt Island
					</div>
					<!-- <h4 id="sec1">1950: The First Planning Movement</h4> -->
					<p>
						The headquarters of the United Nations was into construction between 1949 and 1950 and was completed in 1952. This building is located in the Turtle Bay of Manhattan and from it people could see the East River. Although the headquarters were built in the region of the United States, the land that the building occupied is under the supervision and control of the United Nation.
						<br><br>
						The design of the complex reflected the new beginning after the WWII. The headquarters of the United Nations contains four buildings including the General Assembly building, the Conference building and the Dag Library, the Secretariat building. Among the four buildings, the biggest one is the Secretariat building, which was into construction in 1949 and finished in 1950, two years before the whole complex was completed. The Secretariat Building was designed by Swiss architect Le Corbusier and Brazilian stylist Oscar Niemeyer. It has height of 154 meters and it is located in the center of the whole complex.
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>2.	United Nations Headquarters. (n.d.). Retrieved February 26, 2015, from http://www.aviewoncities.com/nyc/unitednations.htm</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
