<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: World Trade Center</title>
		<meta name="description" content="New York City: World Trade Center" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>World Trade Center</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/wtc.png"><br>
						The Twin Towers
					</div>
					<!-- <h4 id="sec1">1950: The First Planning Movement</h4> -->
					<p>
						The World Trade Center is located in Lower Manhattan of New York City. The original World Trade Center was twin towers, which were into construction on March 21 at the World Trade Center site in 1966. The north tower and the south tower were not finished in the same time and after the completion of both of the towers, the World Trade Center opened on April 4th, 1973. The twin towers with the north tower 1368 feet and the south tower 1362 feet became the two tallest building all over world at that time. Actually, in 1970, the North Tower had been the tallest building in the world, exceeding the Empire State Building. However, in less than a year, the twin towers were exceeded by Chicago’s Sears Tower. But the twin towers were still a very important symbol of the United States.
						<br><br>
						The public only noticed the beauty of the design of the twin towers but they could not imagine the problems the engineers suffered from during the process of construction. When the twin towers began to be constructed, the Authority received interrogation about the safety of the building. Besides, engineers were forced to dig down about 70 feet to get bedrock, which was additional work because of the ground of New York City were filled with dust and trash. After solving all this problems, the twin towers finally appeared in front of the public’s sights. Governor Nelson even commented that the construction of the twin towers was “a dream come true”.
						<br><br>
						Because of the outbreak of terrorist attack in September 2001, the twin towers no long existed but we could still discover the beauty of the design of the twin towers from old pictures and videos. Fortunately, a new World Trade Center has been built and the new building opened on May 2006.
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>World Trade Center. (n.d.). Retrieved February 26, 2015, from http://www.history.com/topics/world-trade-center</li>
				<li>History of the twin towers. (n.d.). Retrieved February 26, 2015, from http://www.panynj.gov/wtcprogress/history-twin-towers.html</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
