<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: Public Transit on the Streets</title>
		<meta name="description" content="New York City: 1800s - 1900s" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>Public Transit on the Streets</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/horsecar.jpg"><br>
						Horsecar
					</div>
					<div class="floatRight">
						<img src="img/trolley.jpg"><br>
						New York Trolley
					</div>
					<!-- <h4 id="sec1">Section header 1</h4> -->
					<p>
						Horsecars, it was a streetcar that was pull buy a horse in the front and the car on the steel track. It was the original concept of the cable cars. Horsecars are able to carry a large amount of people and the driver sat in the back, the passengers would ring the bell the signal the driver to stop at the stops. The horsecars are more comfortable than Omnibuses. However, the horses are slow and when it comes to the hills, the horses are having trouble to climb the hills. In addition, the horses need to consume a lot of hay and grain which also produce a lot of manure. The average of year of the horses that work as a horsecar is only five years. In 1872, the outbreak of horse flu had caused the death of many horses, this showed the New York City that they need to find a new power source for public transportation.
						<br><br>
						The first cable car of New york city was opened in 1883 on the new Brooklyn Bridge. Cable cars were different from horsecars, they are no longer powered by horses, instead they were moved by steam engine. Cable cars were a lot useful and more effective than the horsecars. Cable cars were able to climb hills much faster, and unlike horses they don’t get tired. But the steam engine cable cars ended in 1909 when the electricity trolley was introduced.
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>New York Transit Museum - Teacher Resource Center. (n.d.). Retrieved March 16, 2015, from http://www.transitmuseumeducation.org/trc/background</li>
			</ol>
		</div>
	{% endblock %}
	</body>
</html>
