<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: Staten Island Tunnel</title>
		<meta name="description" content="New York City: 1800s - 1900s" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>Staten Island Tunnel</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/statenisland.jpg"><br>
						Staten Island Tunnel
					</div>
					<!-- <h4 id="sec1">Section header 1</h4> -->
					<p>
						In 1923 new construction began for the Department of Transportation. A new subway tunnel was in the makings, one that would finally connect Staten Island to the rest of the city, specifically to the subway line in Brooklyn. Unfortunately the tunnel would never be completed. The mayor of the time, Mayo John Hylan scrapped the project of the Staten Island Tunnel. Why? Well Mayor Hylan might have been holding a little bit of a grudge. It just so happened that Mayor Hylan worked for the Brooklyn-Manhattan Transit Corporation (BMT) before becoming mayor. Hylan’s was fired from his BMT job for reading his law books while driving the train. After becoming Mayor, Hylan seemed to do everything he could to delay all projects from the BMT. Could it have been Mayor Hylan’s bitterness towards his old employers that halted the construction of the Staten Island Tunnel; more than likely. Hylan’s got his revenge and the tunnel only made it 150 feet to Brooklyn before coming to its final stop.
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>The Brooklyn Rapid Transit Company (n.d.). Retrieved from http://www.bmt-lines.com/history/</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
