<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: Subway Systems of 1900-1971</title>
		<meta name="description" content="New York City: Subway Systems of 1900-1971" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>Subway Systems of 1900-1971</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/subway.png"><br>
						New York City Subway Car in the 1950’s
					</div>
					<!-- <h4 id="sec1">Section header 1</h4> -->
					<p>
						New York City, with its exponential growth overtime, needed to expand its rapid transit system. City governance resolved to assemble a subway system that possessed a key feature.  It would need to be able to rapidly and effectively move individuals through packed Manhattan; and consequently, move them out of Manhattan.[ii] Tramlines would reach out to undeveloped areas, where new communities could develop, serving to transform a condensed city into a vast metropolitan zone.
					</p>
					<h4 id="sec1">Interborough Rapid Transit Company</h4>
					<p>
						The IRT (Interborough Rapid Transit Company) started development of the first metro line in 1900, and only four years thereafter, the IRT started moving New Yorkers underneath city lanes—impressively, even, as it had over 100,000 passengers the first day. Subways, setting out at near to 40 mph, were much quicker than trolleys (6 mph) and aerial trains (12 mph). Travelers acknowledged the well put together features of the framework, which included: decisions of whether they wanted to take the local or expedited service, less climate related postponements than road transportation, and the single charge that they were already accustomed to paying for different modes of open travel.
					</p>
					<p>
						The greater part of the modern subway system was constructed quickly amid a major surge of development from 1913 to 1931. To parlay such quick development, the city partitioned tram contracts between two organizations. This course of action, granted authority to the IRT to extend rail lines in Manhattan, Brooklyn, and the Bronx. This would later be labeled as the BMT (Brooklyn-Manhattan Transit Corporation) contracted for brand-new stations in Manhattan, Brooklyn, and Queens. Extra lines were established by the Independent Subway System (IND) in the 1930s, serving to close other, less useful, trains that traveled the same courses above ground. In 1940 all three of these subway lines were declared public property. New York City Transit was made by the State Legislature in 1953 and eventually served as an integral part of the Metropolitan Transportation Authority, which was created in 1968.
					</p>
					<h4 id="sec1">Modern Day Rail System</h4>
					<p>
						The New York City Subway system is one of the most active and extensive transit networks in the world.  It serves around five million travelers per business day with 26 subway lines that cover over 750 miles of track. The system runs every hour of every day for the entire week and interfaces all wards with the exception of Staten Island. Arrangements included growing the framework to Staten Island, however the course was never constructed. Then again, Staten Islanders can rely on upon the Staten Island Railway, which got to be a piece of MTA New York City Transit in 1971.
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>NYC Center for Innovation through Data Intelligence. (n.d.). Retrieved February 8, 2015, from http://www.nyc.gov/html/cidi/html/home/home.shtml</li>
				<li>Parrigay, M. (2010). Public Transit in New York City. <i>The Past and Future of the Metropolitan Transportation Authority</i>, 3-26. Retrieved February 24, 2015, from https://www.hofstra.edu/pdf/Academics/Colleges/HCLAS/GEOG/geog_honors_ParrigyM.pd</li>
			</ol>
		</div>
	{% endblock %}
	</body>
</html>
