<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: Fresh Kills Landfill</title>
		<meta name="description" content="New York City: Fresh Kills Landfill" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>Fresh Kills Landfill</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/landfill.jpg"><br>
						Fresh Kills Landfill
					</div>
					<!-- <h4 id="sec1">Early 1800s</h4> -->
					<p>
						The old system of dumping New Yorker’s waste into the Ocean started in the 1800s and continued well into the 1900s. In 1934 the U.S. Supreme court put an end to all the ocean dumping. This meant the city’s Department of Sanitation had to find a new place to throw their waste. For the next few years the city emplaced a few incinerators and small landfills throughout the city to manage its waste. These facilitators, however, were later closed down due to the environmental problems and other issue such as proximity to neighborhoods. In 1948 on the west shore of Staten Island, there was little to no large-scale development. This was the site for New York’s new and biggest landfill yet. 
						<br><br>
						In 1948 Robert Moses, the “master builder” of New York at the time, established Fresh Kills landfill. Fresh Kills developed with the idea of being a “clean fill” landfill. This was because after every dumping the waste was covered with a layer of dirt. Fresh Kills was the largest landfill during the entire time it was open. New Yorker’s trash began to fill the Fresh Kills in 1948 but then came to an end in 2001 when the landfill was closed up. 
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>New York City Department of Sanitation: Keeping New York City clean since 1881. http://www1.nyc.gov/site/dsny/about/inside-dsny/history.page</li>
				<li>Royte, E. (2005). <i>Garbage land: On the secret trail of trash.</i> New York: Little, Brown.</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
