<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: The City of Brooklyn: A Brief History of the Borough before the “Great Mistake of ‘98”</title>
		<meta name="description" content="New York City: The City of Brooklyn: A Brief History of the Borough before the Great Mistake of ‘98" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>The City of Brooklyn: A Brief History of the Borough before the “Great Mistake of ‘98”</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/brooklyn.jpg" style="max-width: 500px"><br>
						The original six towns that make up the modern-day borough of Brooklyn
					</div>
					<!-- <h4 id="sec1">Early 1800s</h4> -->
					<p>
						Before the consolidation of the five boroughs into the City of Greater New York, Brooklyn was an independent city with its own government, and was itself a city consisting of annexed municipalities.  When the Dutch settled on Long Island in the mid-1600s, they formed the towns of ­­Gravesend, Breuckelen, New Amersfoort, Midwout, New Utrecht, and Boswijck along the westernmost portion of Long Island.  Control of the area was transferred to the English conquered New Netherland in 1664.  Breuckelen eventually became the Town of Brooklyn in 1816, and the City of Brooklyn was formed in 1834.  The name Brooklyn comes from the name of the town of Breukelen in the Netherlands.
						<br>
						<table class="data">
							<tr>
								<th>Dutch Town</th>
								<th>Year Settled</th>
								<th>Primary Modern Section of Brooklyn</th>
							</tr>
							<tr>
								<td>Boswijck</td>
								<td>1661</td>
								<td>Bushwick</td>
							</tr>
							<tr>
								<td>Breuckelen</td>
								<td>1646</td>
								<td>Brooklyn Heights</td>
							</tr>
							<tr>
								<td>Gravesend</td>
								<td>1645</td>
								<td>Gravesend</td>
							</tr>
							<tr>
								<td>Midwout</td>
								<td>1652</td>
								<td>Midwood</td>
							</tr>
							<tr>
								<td>New Amersfoort</td>
								<td>1647</td>
								<td>Flatlands</td>
							</tr>
							<tr>
								<td>New Utrecht</td>
								<td>1657</td>
								<td>New Utrecht</td>
							</tr>
						</table>
						<br>
						Brooklyn saw rapid urban expansion in the 1800s, much of which can be attributed to the two massive waves of European immigration to the United States that took place in this century.  In 1845, the population of the City of Brooklyn was 80,000; by 1855, the population reached approximately 205,000, nearly half of which were foreign-born.  (The dominant country of origin during this time from which people emigrated was Ireland)  At this time, the city had a notable presence and become the third largest in the United States.  The famous Brooklyn Bridge was built by the New York Bridge Company in 1883 in order to mitigate congestion and to keep up with the transportation demand between New York City and Brooklyn (at the time, transportation between the two cities was exclusively water-based).  At the time of Brooklyn’s consolidation with New York City, it had a population of approximately one million.
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>Notes Geographical and Historical, relating to the Town of Brooklyn, in Kings County on Long Island. (n.d.). <i>Faculty Publications, UNL Libraries</i>. Retrieved from http://digitalcommons.unl.edu/cgi/viewcontent.cgi?article=1033&context=libraryscience</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
