<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: Chinatown and its Three Planning Movements</title>
		<meta name="description" content="New York City: Chinatown and its Three Planning Movements" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>Chinatown and its Three Planning Movements</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/chinatowngo.png"><br>
						The "pagoda-touched" Decorations to add "cultural" authenticity to the tourist experience
					</div>
					<h4 id="sec1">1950: The First Planning Movement</h4>
					<p>
						A response to the 1949 Housing Act, business and family association leaders in the Chinatown area approached Herman T. Stichman, Commissioner of the New York State Housing Division, with a proposal to redevelop the district, in which Stichman declared that Chinatown was “one of the worst slums in the New York.” Stichman then called for $15 million in state funds to clear 15-square-acre of slums, proposed to build public housing for low-income households while preserving the area as a cultural and tourist attraction. Stichman also emphasized for these buildings to be “pagoda-touched”, so that the buildings will radiate cultural authenticity, creating a new “China Village”. Through offering stereotypes of Chinese culture, China Village will self-promote their exoticness and attract more tourists. As a result, China Village became an opportunity for housing officials and Chinatown’s own merchant elites to further their economical and political agendas. 
						<br><br>
						However, Stichman was opposed by Robert Moses, a power broker who controlled slum clearance and public housing construction in the city. If Stichman and the State Housing Division could convince the city to develop the China Village project, then Moses will lose his control of the slums in which he was already planning to redevelop through the Housing Act of 1949. However, the feud ended in 1955, when Stichman ended his ten-year term as State Housing Commissioner, because the state cannot finance a project for low-income renters on valuable property. Instead, in 1960, Chatham Towers, a high-rent cooperative building, will be built on the site originally set for China Village.
					</p>
					<div class="floatLeft">
						<img src="img/chinatowndraw.png"><br>
						The redeveloped land to target overcrowding
					</div>
					<h4 id="sec1">1975: Chinatown Street Revitalization Plan</h4>
					<p>
						During the 1970s, New York City’s budget cuts caused a rise in crime and filth and reduced tourist industry. As Chinatown’s large source of revenue comes from tourists, gathering support to revitalize Chinatown was not hard to find. The Planning Department identified overcrowding due to increased immigration in Chinatown as their biggest problem, the new revitalization plans sought to tackle this issue face on. The new plans called for several parts of the neighborhood to be redeveloped with an outdoor cultural park featuring elaborate pagoda-tiered structures and Chinese dragons lining the buildings, and mode street vendors to a designated vendors market. However, the revitalization plan never materialized, as most of the property was privately owned and the Chinese Consolidated Benevolent Association (CCBA) failed to get everyone agree to a common plan. 
					</p>
					<h4 id="sec1">2002: The Unity Arch</h4>
					<p>
						As the events of September 11, 2001 occurred ten blocks away from Chinatown, the aftermath put the Chinatown south of Canal Street into a ghost town, as neither cars nor pedestrians could enter. About 2,000 restaurant workers were found without jobs during the two months after the attack, and even by the start of 2002, a third of all restaurant employees worked at reduced hours and wages cut in half. 
						<br><br>
						With the reception of multiple solutions for reviving Chinatown, the CCBA took this as an opportunity to renew their long-standing effort; the creation of a Chinese Gate. The CCBA exclaimed to Mayor Michael Bloomberg, that “San Francisco, Washington, DC, Montreal, Vancouver, Melbourne, Philadelphia, Chicago, and Boston...all have beautiful Gateway Arches that reflect Chinese culture...and serve as centerpieces for local tourism,” while “New York City has none!” However, the arch was once again not realized, as the hypocritical community had a “Not In My Backyard” mentality. In an interview with Gary Tai of CCBA, described the controversy: “Basically, all the business people want to build an arch in Chinatown because businesses and restaurants need more tourists to come to Chinatown... however, nobody wants to build an arch in front of their house.” In the end, it was really hard to find a location in a high density community like Chinatown to build an arch. 
					</p>
				</div>
			</section>
		</div>
		<div class="container sources">
			<ol>
				<li>Umbach, G. & Wishnoff, D. (2008, August). Strategic Self-Orientalism: Urban Planning Policies and the Shaping of New York City’s Chinatown, 1950-2005. Journal of Planning History, 7, 214-238. doi: 10.1177/1538513207313915</li>
			</ol>
		</div>
		{% endblock %}
	</body>
</html>
