<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: 1800s - 1900s</title>
		<meta name="description" content="New York City: 1800s - 1900s" />
		<meta name="keywords" content="timeline, 1800s, 1900s, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>1800s - 1900s</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<div class="floatLeft">
						<img src="img/statue.jpg" width="200px"><br>
						Caption: This is some statue
					</div>
					<h4 id="sec1">Section header 1</h4>
					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
						totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
						dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
						eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
						sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
						Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
					</p>
					<hr>
					<h4 id="sec2">Section header 2</h4>
					<p>
						More sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
						totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
						dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
						eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
						sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
						Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
					</p>
					<hr>
					<h4 id="sec3">Section header 3</h4>
					<p>
						Again sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
						totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
						dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
						eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
						sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
						Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
					</p>
					<hr>
					<h4 id="sec4">Section header 4</h4>
					<p>
						Fin sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
						totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
						dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
						eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
						sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
						Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
					</p>
				</div>
			</section>
		</div>
	{% endblock %}
	</body>
</html>
