<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: Annotated Bibliography</title>
		<meta name="description" content="New York City: Annotated Bibliography" />
		<meta name="keywords" content="timeline, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>Annotated Bibliography</h1>	
			</header>
			<section>
				<div class="col-sm-10 col-sm-offset-1">
					<p>
						<ol class="abib">
							<li>
								<p>Adler, P. (2009). Topographical Mapping. <i>In Mapping New York</i> (pp. 142-146). London: Black Dog Pub.</p>
								<p>Features different types of mapping used by New York city dating all the way back to the mid 1600’s. Focuses on specific realms of mapping including crime, poverty, topography, data, transport, and commerce. Included many images and representations of what they maps looked like and highlighted their most influential aspects. </p>
							</li>
							<li>
								<p>Briffault, Richard. "Voting Rights, Home Rule, and Metropolitan Governance: The Secession of Staten Island as a Case Study in the Dilemmas of Local Self-Determination." Columbia Law Review (n.d.): n. pag.</p>
								<p>This journal article details an attempt by the borough of Staten Island to secede from New York City in the 1990s. The journal discusses the neglect felt by the borough from the New York City government, as well as social and demographic differences with the rest of the city. Although the article is more concerned with the overall issue of home rule, it spotlights an area of New York City that differs from the city’s character and is often neglected in discussions about New York.</p>
							</li>
							<li>
								<p>Chronopoulos, T. (2013). Robert Moses and the Visual Dimension of Physical Disorder: Efforts to Demonstrate Urban Blight in the Age of Slum Clearance. <i>Journal of Planning History</i>, Vol. 13(3) 207-233. Retrieved February 10, 2015, from http://jph.sagepub.com/content/13/3/207.full.pdf</p>
								<p>This academic article focuses on efforts of Robert Moses, one of the most influential planners in New York history, to remove urban blight in New York City in the 1950s. The article discusses his visions for removal of blight, as well as its documentation. This source is useful for understanding a more detailed piece of a New York City urban planning issue that was handled by a powerful figure in the city’s history.</p>
							</li>
							<li>
								<p>DCP History Project - New York City Department of City Planning. (n.d.). Retrieved February12,2015, from http://www.nyc.gov/html/dcp/html/history_project/history_project3.shtml</p>
								<p>This article talks about the history of City Planning Commission as well as a concise overview ofdevelopment of New York City. In the meanwhile, the article illustrates the decision that the City Planning Commission had made during the past few years such as Zoning Ordinance, etc.</p>
							</li>
							<li>
								<p>Doig, J. (2001). <i>Empire on the Hudson: Entrepreneurial vision and political power at the Port of New York Authority</i> (pp. 20-80). New York: Columbia University Press.</p>
								<p>Discussed the history of the ferry system within New York City starting with the informal use of rowboats and horse-powered boats. Went on to provide detail about the operating systems, routes, and overall usage of such ferry systems across the Hudson. Looked especially at how political leaders and players in the planning process manipulated such systems to garner more economic power and commerce expansion.</p>
							</li>
							<li>
								<p>Downs, A. (1981). Neighborhoods and urban development. Washington, DC: The Brookings Institution.</p>
								<p>A deep study in the socio-economic influences of urban development on the welfare of the community. This source is useful as it provides an objective point of view on the reasons behind neighborhoods experiencing blight.</p>
							</li>
							<li>
								<p>Fischler, R. (2007). The Metropolitan Dimension of Early Zoning Revisiting the 1916 New York City Ordinance. <i>Journal of the American Planning Association, 64</i>(2). Retrieved February 11, 2015, from http://www.tandfonline.com/doi/pdf/10.1080/01944369808975974</p>
								<p>This article discusses the New York City Ordinance of 1916, the first comprehensive zoning ordinance in a major American city. The article discusses the years and events leading up to its implementation, notably uncontrolled building practices and congestion. This article details with a major event in New York City and American planning history, and its mentioning is important in any discussion of New York’s history.</p>
							</li>
							<li>
								<p>Garner, D. (2009, August 4). When David Fought Goliath in Washington Square Park. <i>The New York Times</i>. Retrieved March 7, 2015.</p>
								<p>This New York Times article discusses Jane Jacobs’s fierce opposition to some of Robert Moses’s proposed projects. This source was primarily used to discuss her success as an advocate for the preservation of urban neighborhoods and historic districts. This source most notably includes her stopping of three megaprojects that would have changed the landscape of some areas of New York City.</p>
							</li>
							<li>
								<p>Gentrification. (n.d.). In <i>Merriam-Webster</i>. Retrieved from http://www.merriam-webster.com/dictionary/gentrification</p>
								<p>Definition of gentrification. This source is useful in explaining the negative effects of redevelopment and reinvestment.</p>
							</li>
							<li>
								<p>Hall, P. (1988). <i>Cities of tomorrow: An intellectual history of urban planning and design in the twentieth century</i>. Oxford, UK: Blackwell.</p>
								<p>This book Cities of Tomorrow includes the history of planning in the twentieth century and also the problems happening in the society. It gives an overview of the evolution of the planning movement in the twentieth century.</p>
							</li>
							<li>
								<p>History of Brooklyn - From Village to City. (n.d.). Retrieved March 3, 2015, from http://www.thirteen.org/brooklyn/history/history3.html</p>
								<p>This narrative came from the website Thirteen WNET New York, a local network known colloquially as “Channel Thirteen.” This work gives a general overview of the history of Brooklyn before its consolidation with the City of New York, from the founding of Brooklyn’s towns to its rise as a major city. Important parts of the City of Brooklyn’s history are included, which include major immigration waves that contribute to the borough’s demographics today to population booms. This website gives insight to the borough’s modern form.</p>
							</li>
							<li>
								<p>Hurricane Sandy, one year after: Red Hook still Reeling and Recovering. (2013). <i>Daily News</i>. Retrieve http://www.nydailynews.com/new-york/hurricane-sandy/hurricane-sandy-year-red-hook-article-1.1494679</p>
								<p>The Daily News issued an article on how the people of Red Hook, New York were still dealing with theeffects of Hurricane Sandy. One year after the matter the Daily News the people report that the storm to them has not yet passed. Many had to throw away large amounts of personal possessions.</p>
							</li>
							<li>
								<p>Jones, Jenny. NYC Project Transforms Landfill into a Sprawling Recreational. (2011) <i>Civil Engineering</i>.</p>
								<p>This article written by Jenny Jones focuses on the transformation of the Fresh Kills Landfill into the new Fresh Kills park. It describes how the park was planned to divide into five main sections, and how each area would have their own plans for recreational activities. Another part of the journal focuses on the engineering process of how the landfill was going to be constructed into a beautiful park.</p>
							</li>
							<li>
								<p>Kiefer, M. (2001, January 1). Privatizing Creation of the Public Realm: The Fruits of New York City’s Incentive Zoning Ordinance. <i>A Symposium: Jane Jacobs & The New Urban Ecology, 28</i> (Issue 4). Retrieved from http://lawdigitalcommons.bc.edu/ealr/vol28/iss4/10/</p>
								<p>An analysis performed on the reasoning, implementation and outcome of the Zoning Ordinance of 1961. This source is useful as it is a thoughtful analysis on the reason why the zoning ordinance was developed, and compares it to the zoning ordinance of 1916.</p>
							</li>
							<li>
								<p>Macdonald, E. (2005). Suburban Vision to Urban Reality: The Evolution of Olmsted and Vaux’s Brooklyn Parkway Neighborhoods. <i>Journal of Planning History</i>. Retrieved from http://jph.sagepub.com/content/4/4/295.full.pdf html</p>
								<p>This journal discusses Frederick Law Olmsted’s and Calvert Vaux’s plans for Brooklyn in the years preceding the borough’s consolidation with the City of New York. The article discusses their visions for the then-rural area’s urbanization, which includes landscape changes, such as Ocean Parkway and the design of several urban neighborhoods, that exist today. This article provides urban planning history in Brooklyn and allows one to understand some of the decisions that have contributed to the borough’s landscape. </p>
							</li>
							<li>
								<p>Melosi, M. (1981). <i>Garbage in the cities: Refuse, reform, and the environment: 1880-1980</i> (p. 247). College Station, Texas: Texas A & M University Press.</p>
								<p>In the book by Melosi, he’s talking about George Waring was a leading key member of the sanitation department back in late 1800s. He talks about how Waring turn New York City into a cleaner city where it used to be one of the dirtiest city in the nation, and also how he became a hero of New York City.</p>
							</li>
							<li>
								<p>McNeur, C. (2014). Taming manhattan: environmental battles in the antebellum city. Cambridge, MA: Harvard University Press. </p>
								<p>An introductory recount on the development and transformation of Manhattan, beginning in the 1800s, a time of disarray where stray dogs and filth filled the streets. With Manhattan’s image, health, and property values on their minds, the upper class fought to create physical order, upgrade sanitation, redevelop neighborhoods and create parks. The lower class, however, became a battle for survival. This source is useful as it provides the baseline on how New York shapes their environmental development.</p>
							</li>
							<li>
								<p>Nagle, R. (2013). <i>Picking up: On the streets and behind the trucks with the sanitation workers of New York City</i>. New York: Farrar, Straus and Giroux</p>
								<p>Robin Nagle was named the Department of Sanitation of New York’s anthropologist-in-residence. This book is based off of Nagle’s research of the Sanitation Department, and includes first hand experience working for the department. The book provides many testimonies from sanitation workers, which gives a look into the eyes of the people who keep the streets of New York clean.</p>
							</li>
							<li>
								<p>Neckerman, K., Lovasi, G., Davies, S., Purciel, M., Quinn, J., Feder, E., ... Rundle, A. (2009). Disparities In Urban Neighborhood Conditions: Evidence From GIS Measures And Field Observation In New York City. <i>Journal of Public Health Policy</i>, S264-S285. Retrieved February 12, 2015, from http://www.palgrave- journals.com/jphp/journal/jphp200847a.html</p>
								<p>A field study that assessed different neighborhoods using GIS to link the correlation between physical walking and health related issues. Demonstrated that a municipality’s structure and built environment heavily influence the residents’ movement and choice to actively disperse within the city around them. Findings suggested some changes in policy to further progression of citizen movement, and implicated the technological advantages of using Geographic Information Systems to assess more than just mapping zones.</p>
							</li>
							<li>
								<p>Newman, K & Wyly, E. (July\August 2005). Gentrification and resistance in new york city. <i>Shelterforce Online</i> (issue #142). Retrieved from http://www.nhi.org/online/issues/142/gentrification.html</p>
								<p>Discusses the difficulty of quantifying the results of gentrification, such as displacement and neighborhood change. It also brings to light the benefits and the problems the poor faces when it comes to heavy market forces. This source is useful as it shows the dark side of neighborhoods which successfully went through redevelopment.</p>
							</li>
							<li>
								<p>New York Transit Museum - Teacher Resource Center. (n.d.). Retrieved March 16, 2015, from http://www.transitmuseumeducation.org/trc/background</p>
								<p>The website is simply talking about the history of public transportation of New York City. The website was created by a non-profit organization in New York called Transit Museum. It gives us many pros and cons of each transit, and also history of these transits.</p>
							</li>
							<li>
								<p>New York City Department of Parks and Recreation Official Website. <i>Fresh kills Park</i>. Retrieved from http://www.nycgovparks.org/park-features/freshkills-park/</p>
								<p>The Department of Parks and Recreation has provided a page specifically on all current projects inplaced, along with the progress it has seen over the years. Along with that one could take a tour of the Fresh Kills Park's many site. Also the Public Reviews of the project can be seen on this website.</p>
							</li>
							<li>
								<p>New York City Department of Sanitation: Keeping New York City clean since 1881. Retrieved from http://www1.nyc.gov/site/dsny/about/inside-dsny/history.page</p>
								<p>The Official website of the City’s Sanitation Department covers current events happening within the department but as well covers the history. The online page covers the entire history of the department; covering a year span from the 1800s to present day.</p>
							</li>
							<li>
								<p>New York City Zoning Resolution 1961. (n.d.). Retrieved March 15, 2015, from http://www.nypap.org/content/1961-new-york-city-zoning-resolution</p>
								<p>An introduction of the background of the New York City Zoning Resolution. Also, the article talks about the significance as well as the shortcomings of the Zoning Resolution. Moreover, the passage gives timeline of how the decision was came up with and finally approved.</p>
							</li>
							<li>
								<p>New York City. (n.d.). Retrieved February 12, 2015, from http://www.history.com/topics/new-york-city</p>
								<p>Discusses the history of the New York City from the past two hundred years. Also, it talks about the major changes and achievements and challenges New York City had went through in the 18th century, 19th century, 20th century. It also gives a brief introduction about the 9-11 accident.</p>
							</li>
							<li>
								<p>Notes Geographical and Historical, relating to the Town of Brooklyn, in Kings County on Long Island. (n.d.). <i>Faculty Publications, UNL Libraries</i>. Retrieved from http://digitalcommons.unl.edu/cgi/viewcontent.cgi?article=1033&context=libraryscience</p>
								<p>This work is a faculty publication from the University of Nebraska- Lincoln. It discusses the history of Brooklyn and the six former towns that now form the borough in detail. Most of the work focuses on the early 19th century. This source was important for providing a historical background to the modern landscape of New York City’s most populous borough. </p>
							</li>
							<li>
								<p>NYC Center for Innovation through Data Intelligence. (n.d.). Retrieved February 8, 2015, from http://www.nyc.gov/html/cidi/html/home/home.shtml</p>
								<p>Provided by the NYC CIDI, which gave a comprehensive background on the history of its creation and maturation. Specifically discusses the new innovations when it came to implementing advanced geographic information systems. Also discusses the various functions of the organization as well as a scope of future plans for their projects and what they will entail.</p>
							</li>
							<li>
								<p>Parrigay, M. (2010). Public Transit in New York City. The Past and Future of the Metropolitan Transportation Authority, 3-26. Retrieved February 24, 2015, from https://www.hofstra.edu/pdf/Academics/Colleges/HCLAS/GEOG/geog_honors_ParrigyM.pdf</p>
								<p>Provided information about different types of transportation systems that have been used throughout the timeline of New York City’s existence. I specifically focused on the history of subway systems and their integration into reliable vehicular transportation. The article, also elaborated on the future consequences for Metropolitan transit as the city continues to grow and adapt to new forms of urbanism. </p>
							</li>
							<li>
								<p>PlaNYC (March 2006) Fresh Kills Park: Lifescape, Staten Island, New York Draft Master Plan. http://www.nyc.gov/html/dcp/pdf/fkl/dmp.pdf </p>
								<p>In 2007 Mayor Michael Bloomberg emplaced a new proposal; a blueprint for a a more sustainable New York. In the proposal there was a specific plan for the city’s buildings and its carbon emissions. With the contributions from city organizations, private agencies, and the people of New York, progress continues to happen for the Plan NYC projects.</p>
							</li>
							<li>
								<p>Porpora, Tracey. "Multi-level Shopping Mall to House 60 New Retailers at 'The Boulevard' in New Dorp." Staten Island Advance. N.p., 10 Dec. 2014. Web. 26 Feb. 2015. http://www.silive.com/eastshore/index.ssf/2014/12/60_new_retailers_coming_to_the.html</p>
								<p>This source is an article published out of the Staten Island Advance, Staten Island’s own borough-wide newspaper from December 2014. It discusses a large-scale commercial project planned for Staten Island in the near future. The purpose of this source was to support the idea that Staten Island is receiving an increasingly larger share of development projects in New York City, highlighted by the New York Wheel.</p>
							</li>
							<li>
								<p>Robert Moses. (n.d.). Retrieved March 4, 2015, from http://www.nypap.org/content/robert-moses</p>
								<p>This article, pieced together by the New York Preservation Archive Project, includes a brief biography of Robert Moses. This source also lists some of his most prominent positions that he held during his career as an urban planner as well as some of the projects completed during his career. This website was used in order to give a better visualization of his achievements.</p>
							</li>
							<li>
								<p>Royte, E. (2005). <i>Garbage land: On the secret trail of trash</i>. New York: Little, Brown. </p>
								<p>Elizabeth Royte wrote for The New York Times, The New Yorker, National Geographic, along with other national magazines. She wrote Garbage Land in 2005. Royte was very curious about the nation’s trash and where it led to. She wanted to know where her trash would go after setting it on the curb for trash collectors to pick it up. She writes about the history of Sanitation Departments throughout the nation, including New York City. She also discusses the process of Sanitation of most recent years in New York City.</p>
							</li>
							<li>
								<p>Solis, G. (2015, March 2). Landlord owes tenant $112,000 after overcharging him for years. <i>DNAinfo</i>. Retrieved from http://www.dnainfo.com/new-york/20150302/hamilton-heights/landlord-owes-tenant-112000-after-overcharging-him-for-years</p>
								<p>A case study on a tenant who was rewarded by court due to landlord’s failure to address living conditions and charging at a rent which is way over the legal price. This source is useful as it shows the low income people subject to abuse from their landlords.</p>
							</li>
							<li>
								<p>Sorrentino, C. (n.d.). Publications - New York City Department of City Planning. Retrieved March 16, 2015, from http://www.nyc.gov/html/dcp/html/pub/conpln2014.shtml</p>
								<p>The article simply addresses the things that New York City needs to improve. The article is pretty much like a general plan where it show us many datas of what kind of project the government is funding. Apparently, the article is mainly talking about improving the homelessness in New York city.</p>
							</li>
							<li>
								<p>St. George Waterfront. (n.d.). Retrieved February 11, 2015, from http://www.nycedc.com/project/st-george-waterfront</p>
								<p>This article outlines some of the proposals for St. George (the Staten Island neighborhood where the Staten Island Ferry is located). Centered on the construction of the world’s largest Ferris wheel, the project is proposed with the intention of boosting tourism and making the real estate in the immediate area more valuable. This is a valuable source because it details an important yet often-overlooked location of New York City that will become a key component in New York City real estate and transportation development.</p>
							</li>
							<li>
								<p>The Greatest Grid: The Master Plan of Manhattan--Curated by NYU's Hilary Ballon [Video file]. Retrieved from https://www.youtube.com/watch?v=VFDH5L2Tyao</p>
								<p>A different point of view on the Commissioners’ Plan, and a video walkthrough of landmarks and tools in the construction process. This video is useful as it further illustrates the lifestyle and engineering at that time.</p>
							</li>
							<li>
								<p>The very first labor day. In <i>Jump Back in Time</i> (Gilded Age). Retrieved from http://www.americaslibrary.gov/jb/gilded/jb_gilded_labor_1.html</p>
								<p>A very brief introduction on the proposal and outcome of the first Labor Day on September 5, 1882. This source is useful as it provides a quick introduction on the reason behind Labor Day and it’s relevance to Union Square.</p>
							</li>
							<li>
								<p>Twain, M. (1897). <i>A JOURNEY AROUND THE WORLD</i>. Hartford, Connecticut: American Publishing Company.</p>
								<p>In the book, Mark Twain was telling us a story of him travelling around the world. He basically talked about the ups and downs he had. He wrote this book at the age of 74, the same year he passed away in Hartford, Connecticut. </p>
							</li>
							<li>
								<p>Umbach, G. & Wishnoff, D. (2008, August). Strategic Self-Orientalism: Urban Planning Policies and the Shaping of New York City’s Chinatown, 1950-2005. <i>Journal of Planning History</i>, 7, 214-238. doi: 10.1177/1538513207313915</p>
								<p>A dissection on the failed three plannings which happened in Chinatown, showing conflicts of interest in multiple parties. This source is useful as it shows contradictions in the needs of the community as they battle high population density and estate values.</p>
							</li>
							<li>
								<p>Union square. <i>The New York Preservation Archive Project</i>. Retrieved from http://www.nypap.org/content/union-square#footnote5_f9677c6</p>
								<p>An introductory recount on the birth, development and evolution of the Union Square Park. Discusses the Union Square’s significance in multiple points in New York City’s life, and how it’s creation gave way to many noteworthy landmarks. This source is useful as it provides a Union Square as a case study for its contribution to urban development.</p>
							</li>
							<li>
								<p>U.S.Navy All Hands magazine. <i>Brooklyn Navy Yard aerial photo in 1965</i>. December 1966, http://commons.wikimedia.org/wiki/File:Brooklyn_Navy_Yard_aerial_photo_in_1965.jpg</p>
								<p>The photo is the Brooklyn Navy Yard, which was also known as the United States Navy Yard, or the New York Naval Shipyard(NYNSY) in New York. It is a shipyard and bounded by Kent Avenues and Navy Street.</p>
							</li>
							<li>
								<p>World Trade Center Construction 1968-1972. (n.d.). Retrieved March 15, 2015, from https://www.youtube.com/watch?v=5vgB8pckjUQ</p>
								<p>The video demonstrates the history of the World Trade Center. WTC included the twin towers, which opened on April 4,1973 and were destroyed in the September 11,2011. The finish of Twin Towers was “dream that comes true” for many people.</p>
							</li>
							<li>
								<p>World Trade Center. (n.d.). Retrieved March 15, 2015, from http://www.panynj.gov/wtcprogress/history-twin-towers.html</p>
								<p>The article is very useful and gives the timeline of the construction process of the World Trade Center, including the different starting and finishing time of the North and South Towers.</p>
							</li>
						</ol>
					</p>
				</div>
			</section>
		</div>
		{% endblock %}
	</body>
</html>
