<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/global.css" />
	<link rel="stylesheet" type="text/css" href="css/timeline.css" />
	<script src="js/modernizr.custom.js"></script>
</head>
<body>
	<header class="clearfix">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">New York City: USP100</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/timeline">Timeline</a></li>
					<li class="dropdown">
					<a href="/1800s" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Transportation<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/staten">Staten Island Tunnel</a></li>
						<li><a href="/ferry">History of the Ferry System</a></li>
						<li><a href="/subway">Subway Systems</a></li>
						<li><a href="/publicon">Public Transit on the Streets</a></li>
						<li><a href="/publicabove">Public Transit above the Streets</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="/1800s" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Urban Design<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/commissioners">Commissioners' Map and the Grand Parade</a></li>
						<li><a href="/brooklyn">Early Urban Design of Brooklyn</a></li>
						<li><a href="/mosesjacobs">Robert Moses & Jane Jacobs</a></li>
						<li><a href="/freshkillspark">Fresh Kills Park</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="/1800s" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sanitation<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/trash">Trash in 1800s</a></li>
						<li><a href="/freshkillslandfill">Fresh Kills Landfill</a></li>
						<li><a href="/sanitationtoday">Today's Sanitation</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="/1800s" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Data Innovation<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/mapping">New York City Mapping</a></li>
						<li><a href="/innovation">Data Innovation</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="/1800s" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Municipality<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/greatmistake">City of Brooklyn: The 1800s</a></li>
						<li><a href="/chinatown">Chinatown</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="/1800s" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Major Projects<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/wtc">World Trade Center</a></li>
						<li><a href="/un">United Nations</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="/1800s" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Zoning & Housing<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/zoningpion">1916: A Pioneer of Zoning</a></li>
						<li><a href="/lower">Lower East Side and the Obsolescence</a></li>
						<li><a href="/housingact">Housing Act of 1949</a></li>
						<li><a href="/zoningreso">1961 Zoning Resolution</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="/1800s" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Future & Sustainability<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/plannyc">PlanNYC</a></li>
						<li><a href="/onecity">PlanNYC: One City Built to Last</a></li>
						<li><a href="/borough">Staten Island: Forgotten Borough & Bright</a></li>
						<li><a href="/plan">2014 Consolidated Plan</a></li>
					</ul>
					</li>
					<li class="dropdown">
					<a href="/1800s" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bibliography<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="/abib">Annotated Bibliography</a></li>
						<li><a href="/images">Image Sources</a></li>
					</ul>
					</li>
				</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	{% block content %}
	{% endblock %}
	<footer class="creditfooter">
	<center>
		<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
	</center>
	</footer>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/scroll.js"></script>
	<script src="js/timeline.js"></script>
</body>
</html>