<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>New York City: A Brief Timeline</title>
		<meta name="description" content="New York City: Timeline" />
		<meta name="keywords" content="timeline, new york, newyork, new york city" />
		<meta name="author" content="USP100 New York WI15" />
		<link rel="shortcut icon" href="img/eeuu2.ico?=v3">
	</head>
	<body>
		{% extends "base.html" %}
		{% block content %}
		<div class="container">
			<header class="page-header">
				<h1>A Brief Timeline</h1>	
			</header>
			<secion>
				<center>
				<div class="timeline">
				    <div class="timeline-item">
				        <div class="year">1700<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/ferry">History of Ferry System - First Chartered Ferry</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1800s<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/trash">Trash in 1800s</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1800s<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/greatmistake">The City of Brooklyn: A Brief History of the Borough before the “Great Mistake of ‘98”</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1811<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/commissioners">The Grand Parade and the Commissioners’ Map.</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1835<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/mapping">Contributions of New York City Mapping overtime</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1860<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/brooklyn">Early Urban Design of Brooklyn: The Effects of Prospect Park and Eastern and Ocean Parkways</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1868<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/publicon">Public Transit above the Streets</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1872<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/publicabove">Public Transit on the Streets</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1900<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/subway">Subway Systems - Interborough Rapid Transit Company</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1900s<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/lower">The Lower East Side and the Obsolescence</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1916<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/zoningpion">New York City Zoning Ordinance</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1923<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/staten">Staten Island Tunnel</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1948<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/freshkillslandfill">Fresh Kills Landfill</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1949<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/un">A Major Project: Headquarters of the United Nations</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1949<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/housingact">Housing Act of 1949 and its influence on New York City</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1950<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/chinatown">Chinatown and its Three Planning Movements</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1950<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/chinatown">Chinatown’s First Planning Movement</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1950s<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/mosesjacobs">Robert Moses and Jane Jacobs</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1961<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/zoningreso">Zoning Resolution in New York City</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1966<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/wtc">A Major Project: The World Trade Center</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1975<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/chinatown">Chinatown Street Revitalization Plan</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1980s<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/lower">The Gentrification in Alphabet City</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">1990<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/borough">Staten Island: The Forgotten Borough’s Secession Attempt and Bright Future</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">2001<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/freshkillspark">Fresh Kills Park</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">2002<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/chinatown">The Unity Arch of Chinatown</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">2007<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/plannyc">PlaNYC</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">2011<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/innovation">Data Innovation</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">2013<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/onecity">PlaNYC: One City Built to Last</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">2014<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/ferry">History of Ferry System - Current Day Ferry Operations</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">2014<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/plan">New York Consolidated Plan</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">2015<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/subway">Subway Systems - Modern Day Rail System</a></div>
				    </div>
				    <div class="timeline-item">
				        <div class="year">2017<span class="marker"><span class="dot"></span></span>
				        </div>
				        <div class="info"><a href="/ferry">Future for the Ferry System</a></div>
				    </div>
				</div>
				</center>
			</secion>
		</div>
	{% endblock %}
	</body>
</html>
